<nav class="d-print-none">
  <p>
    {{#if user }}
    Logged in as: {{ user.username }} | 
    {{#if status.preview }} <a href="/quiz/{{ week }}/edit">Edit this quiz</a> | {{/if }}
    <a href="/dashboard">Dashboard</a> | 
    <a href="/logout">Logout</a>
    {{ else }}<a href="/login">Login</a>
    {{/if }}
  </p>
</nav>
