<!DOCTYPE html>
<html>
  <head>
  {{>head }}
  </head>
  <body>
    <header>
      {{>messages }}
      {{>menu }}
    </header>
    {{{ body }}}
    <footer class="container">
    {{>footer }}
    </footer>
  </body>
</html>