<section class="container">
  <h2>The Udder Quiz</h2>
  <p><a href="/dashboard">dashboard <img src="/img/icons/key.svg" alt="Must be logged in"></a></p>
  <p><a href="/latest">latest published quiz</a></p>
  <p><a href="/login">login</a></p>
</section>